<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="now-on-top">
	<div class="row">

		<div class="col-md-12  ">

			<center>
				<div class="col-md-5 set-center">



					<h1 style ="color : #fffff;"> Login </h1>


					<script type="text/javascript">


						/


					</script>


					<br>
                                       <!--   <form id="login" method="post" onsubmit="return validateRecaptcha();"> -->
					<form id="login" method="post">


                                                         <table>
							<tr>

								<td>
									<input type="text" name="username" class="form-control" placeholder="Username" required />
								</td>
							</tr>
							<tr>
								<td>
									<input type="password" name="password" class="form-control" placeholder="Password" required pattern="^[A-Za-z0-9@.\s]{2,50}$" title="Text contains only AlphaNumeric ,Space ,@ and Period"  />
								</td>
							</tr>
							<!-- <tr>
								<td>
									<div class="g-recaptcha" data-sitekey="6LfwrU0UAAAAAIlBFiHL7S77hwb-GPgZPhITfD0J"  ></div>
								</td>
							</tr> -->
							<tr>
								<td>
									<input type="submit" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal" name="login" value= "Login"/>


								</td>
							</tr>
						</table>
					</form>
					<br><br><a href="forgotpwd.php"> Forgot Password</a>

				</div>
			</center>

		</div>

	</div>
</div>

</body>
</html>